<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD POST</title>
</head>
<body>
    <h1>ADD POST</h1>
    <form method="POST">
        <h2>Enter Title</h2><br>
        <input type="text" name="title" placeholder="Enter Title" required>
        <h2>Enter Content</h2>
        <input type="text" name="content" placeholder="Enter Content"><br><br>
        <button type="submit">SUBMIT</button><br><br>


        <a href="/post">
            <button type="button">BACK</button>
        </a>

    </form>
</body>
</html>