<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIT POST</title>
</head>
<body>
    <form method="POST">
    <h2>Enter updated title</h2>
    <input type="text" name="title" value="{{ post.title }}"><br><br>
    <h2>Enter updated content</h2>
    <textarea name="content">{{ post.content }}</textarea>
    <button type="submit">Update</button>

    <a href="/post">
        <button type="button">BACK</button>
    </a>
</form>
</body>
</html>